In [4]:
import pandas as pd
data = pd.read_csv("data/data_complete.csv")
data

,Unnamed: 0,y,number_of_beds,markaze_behdasht,number_of_labs,number_of_active_beds,number_of_employees,number_of_doctors,number_of_pir_doctors,number_of_stuff,...,number_of_travels_minibus_inside,number_of_travels_minibus_outside,number_of_travels_car_inside,number_of_travels_car_outside,number_of_person_bus_inside,number_of_person_bus_outside,number_of_person_minibus_inside,number_of_person_minibus_outside,number_of_person_car_inside,number_of_person_car_outside
0,1394_01,1664.0,2107.0,83.0,290.0,1747.0,4665.0,545.0,2421.0,1699.0,...,1949.0,733.0,615.0,1565.0,155352.0,618303.0,12874.0,9411.0,755.0,2500.0
1,1394_02,2027.0,2107.0,83.0,290.0,1747.0,4665.0,545.0,2421.0,1699.0,...,1949.0,733.0,615.0,1565.0,155352.0,618303.0,12874.0,9411.0,755.0,2500.0
2,1394_03,2186.0,2107.0,83.0,290.0,1747.0,4665.0,545.0,2421.0,1699.0,...,1949.0,733.0,615.0,1565.0,155352.0,618303.0,12874.0,9411.0,755.0,2500.0
3,1394_04,1800.0,2107.0,83.0,290.0,1747.0,4665.0,545.0,2421.0,1699.0,...,1949.0,733.0,615.0,1565.0,155352.0,618303.0,12874.0,9411.0,755.0,2500.0
4,1394_05,2216.0,2107.0,83.0,290.0,1747.0,4665.0,545.0,2421.0,1699.0,...,1949.0,733.0,615.0,1565.0,155352.0,618303.0,12874.0,9411.0,755.0,2500.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91,1401_08,3581.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9487.0,2312.0,2048.0,4270.0,208977.0,822597.0,13863.0,6923.0,2227.0,4639.0
92,1401_09,3570.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9487.0,2312.0,2048.0,4270.0,208977.0,822597.0,13863.0,6923.0,2227.0,4639.0
93,1401_10,3049.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9487.0,2312.0,2048.0,4270.0,208977.0,822597.0,13863.0,6923.0,2227.0,4639.0
94,1401_11,3122.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9487.0,2312.0,2048.0,4270.0,208977.0,822597.0,13863.0,6923.0,2227.0,4639.0
95,1401_12,3228.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9487.0,2312.0,2048.0,4270.0,208977.0,822597.0,13863.0,6923.0,2227.0,4639.0

In [6]:
data.fillna(data.mean(), inplace=True)
data.to_csv("data/data_complete.csv")