In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import numpy as np
import pandas as pd
from pathlib import Path

In [3]:
raw_data_folder_path = Path("D:\All Python\All_Big_raw_Data\LOS prediction\Traffic Dataset")
data_UTD19 = pd.read_csv(raw_data_folder_path / "utd19_u.csv", low_memory=False)
data_links = pd.read_csv(raw_data_folder_path / "links.csv")
data_detectors = pd.read_csv(raw_data_folder_path / "detectors.csv")

In [7]:
weather = pd.read_csv("D:\All Python\All_Big_raw_Data\LOS prediction\Environment Dataset/all_fields_weather.csv")
# weather = weather.iloc[:, [24, 26, 6]]
weather.iloc[:,1] = weather.iloc[:,1]*3600
weather.day = pd.to_datetime(weather.day)
weather

,name,datetime,temp,feelslike,dew,humidity,rainfall,precipprob,preciptype,snow,...,solarradiation,solarenergy,uvindex,severerisk,conditions,icon,stations,day,rain_intensity,interval
0,luzern,2015-01-01 00:00:002015-01-01 00:00:002015-01-...,-3.4,-6.0,-4.8,90.04,0.000,0,NaN,0.0,...,0.0,0.0,0,NaN,Partially cloudy,partly-cloudy-night,"66,570,999,990,661,300,000,000,000,000,000,000...",2015-01-01,Slight rain,0.0
1,luzern,2015-01-01 01:00:002015-01-01 01:00:002015-01-...,-3.4,-6.7,-4.8,90.06,0.000,0,NaN,0.0,...,0.0,0.0,0,NaN,Partially cloudy,partly-cloudy-night,"66,570,999,990,661,300,000,000,000,000,000,000...",2015-01-01,Slight rain,3600.0
2,luzern,2015-01-01 02:00:002015-01-01 02:00:002015-01-...,-3.3,-3.3,-4.8,89.57,0.000,0,NaN,0.0,...,0.0,0.0,0,NaN,Partially cloudy,partly-cloudy-night,"66,570,999,990,661,300,000,000,000,000,000,000...",2015-01-01,Slight rain,7200.0
3,luzern,2015-01-01 03:00:002015-01-01 03:00:002015-01-...,-3.6,-8.1,-5.0,90.60,0.000,0,NaN,0.0,...,0.0,0.0,0,NaN,Partially cloudy,partly-cloudy-night,"66,570,999,990,661,300,000,000,000,000,000,000...",2015-01-01,Slight rain,10800.0
4,luzern,2015-01-01 04:00:002015-01-01 04:00:002015-01-...,-3.1,-5.1,-4.4,91.14,0.000,0,NaN,0.0,...,0.0,0.0,0,NaN,Partially cloudy,partly-cloudy-night,"66,570,999,990,661,300,000,000,000,000,000,000...",2015-01-01,Slight rain,14400.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,Luzern,2015-12-31 19:00:002015-12-31 19:00:002015-12-...,4.4,4.4,3.6,94.87,0.097,100,rain,0.0,...,0.0,0.0,0,NaN,"Rain, Overcast",rain,"06657099999,06650099999,06659099999,0667409999...",2015-12-31,Slight rain,68400.0
8756,Luzern,2015-12-31 20:00:002015-12-31 20:00:002015-12-...,4.5,4.5,3.9,95.51,0.111,100,rain,0.0,...,0.0,0.0,0,NaN,"Rain, Overcast",rain,"06657099999,06650099999,06659099999,0667409999...",2015-12-31,Slight rain,72000.0
8757,Luzern,2015-12-31 21:00:002015-12-31 21:00:002015-12-...,4.4,4.4,3.9,96.75,0.399,100,rain,0.0,...,0.0,0.0,0,NaN,"Rain, Overcast",rain,"06657099999,06650099999,06659099999,0667409999...",2015-12-31,Slight rain,75600.0
8758,Luzern,2015-12-31 22:00:002015-12-31 22:00:002015-12-...,4.5,4.5,3.9,95.49,0.396,100,rain,0.0,...,0.0,0.0,0,NaN,"Rain, Overcast",rain,"06657099999,06650099999,06659099999,0667409999...",2015-12-31,Slight rain,79200.0
8759,Luzern,2015-12-31 23:00:002015-12-31 23:00:002015-12-...,4.4,4.4,3.9,96.75,0.100,100,rain,0.0,...,0.0,0.0,0,NaN,"Rain, Overcast",rain,"06657099999,06650099999,06659099999,0667409999...",2015-12-31,Slight rain,82800.0

In [ ]:
data_UTD19.describe()

In [8]:
import data_preparation
dataloader = data_preparation.DataLoader_MultiCity(data=data_UTD19, detectors_data=data_detectors, weather_data=weather)  # london, luzern, hamburg

In [9]:
luzern = dataloader.pick_city(["luzern"])

[INFO] ['luzern'] was/were picked successfully.

In [17]:
train_data, val_data, test_data = luzern.fit()

[INFO] data loaded successfully.
[INFO] speed and density produced successfully.
[INFO] Data #transformed# successfully.
[INFO] Data merged with weather successfully.
[INFO] LOS founded and added to data!
[INFO] Split successful.
[INFO] Saved successfully.

In [18]:
luzern.merged_data

,flow,occ,date,density,speed,rainfall,visibility,windspeed,feelslike,LOS,LOS_index
0,262.459893,0.045575,2015-01-01 00:00:00,0.173079,1516.417052,0.000,0.0,6.4,-6.0,A,0
1,304.639569,0.046836,2015-01-01 01:00:00,0.177867,1712.737247,0.000,0.0,8.0,-6.7,A,0
2,240.033234,0.034573,2015-01-01 02:00:00,0.131296,1828.181000,0.000,0.0,4.7,-3.3,A,0
3,177.826457,0.023900,2015-01-01 03:00:00,0.090764,1959.219797,0.000,1.0,11.6,-8.1,A,0
4,155.366376,0.020704,2015-01-01 04:00:00,0.078629,1975.945103,0.000,0.0,5.0,-5.1,A,0
...,...,...,...,...,...,...,...,...,...,...,...
9019,190.475398,0.030405,2015-12-31 20:00:00,0.115469,1649.582355,0.111,NaN,2.2,4.5,A,0
9020,167.095349,0.025052,2015-12-31 21:00:00,0.095138,1756.340145,0.399,NaN,2.1,4.4,A,0
9021,213.527443,0.033442,2015-12-31 22:00:00,0.127004,1681.266398,0.396,NaN,2.3,4.5,A,0
9022,222.821848,0.035799,2015-12-31 23:00:00,0.135954,1638.953123,0.100,NaN,2.3,4.4,A,0
9023,153.033708,0.026798,2016-01-01 00:00:00,0.101769,1503.729915,NaN,NaN,NaN,NaN,A,0