In [1]:
import pandas as pd
import numpy as np
from pathlib import Path

In [2]:
raw_data_folder_path = Path("D:\All Python\All_Big_raw_Data\LOS prediction\Traffic Dataset")
# data_UTD19 = pd.read_csv(raw_data_folder_path / "UTD19.csv")
data_links = pd.read_csv(raw_data_folder_path / "links.csv")
data_detectors = pd.read_csv(raw_data_folder_path / "detectors.csv")

In [4]:
data_detectors

,detid,length,pos,fclass,road,limit,citycode,lanes,linkid,long,lat
0,U1-52G,0.196037,0.005512,secondary,Gögginger Straße,50,augsburg,1.0,72.0,10.889553,48.359957
1,U1-51G,0.130039,0.004013,secondary,Gögginger Straße,50,augsburg,1.0,73.0,10.889601,48.359945
2,U1-52L,0.155863,0.022228,secondary,Gögginger Straße,50,augsburg,1.0,70.0,10.889356,48.359876
3,U1-51L,0.197675,0.021889,secondary,Gögginger Straße,50,augsburg,1.0,71.0,10.889396,48.359862
4,U1-62,0.065183,0.024465,secondary,Rosenaustraße,50,augsburg,1.0,68.0,10.889361,48.360578
...,...,...,...,...,...,...,...,...,...,...,...
23621,K419D17,0.507890,0.073105,secondary,Gutstrasse,50,zurich,1.0,1199.0,8.499722,47.376703
23622,K426D14,0.591131,0.579361,primary,Duttweilerbrücke,0,zurich,1.0,1200.0,8.511575,47.389545
23623,K426D11,0.650268,0.592645,primary,Duttweilerbrücke,50,zurich,1.0,1201.0,8.511730,47.389532
23624,K437D17,0.301829,0.005194,tertiary,Europabrücke,50,zurich,1.0,1203.0,8.493002,47.393101
23625,K38D11,0.176828,0.152222,tertiary,Badenerstrasse,50,zurich,1.0,1207.0,8.512525,47.377435

In [5]:
data_links

             long        lat  order  piece  linkid   group  citycode
0       10.891016  48.361079      1      1       0     0.1  augsburg
1       10.890894  48.360993      2      1       0     0.1  augsburg
2       10.890642  48.360853      3      1       0     0.1  augsburg
3       10.890404  48.360719      4      1       0     0.1  augsburg
4       10.889994  48.360497      5      1       0     0.1  augsburg
...           ...        ...    ...    ...     ...     ...       ...
140853   8.567437  47.363242     20      1    1224  1224.1    zurich
140854   8.567520  47.363171     21      1    1224  1224.1    zurich
140855   8.567633  47.363072     22      1    1224  1224.1    zurich
140856   8.567745  47.362966     23      1    1224  1224.1    zurich
140857   8.567812  47.362897     24      1    1224  1224.1    zurich

[140858 rows x 7 columns]

In [50]:
list(data_detectors.groupby("citycode").grouper)

['augsburg',
 'basel',
 'bern',
 'birmingham',
 'bolton',
 'bordeaux',
 'bremen',
 'cagliari',
 'constance',
 'darmstadt',
 'essen',
 'frankfurt',
 'graz',
 'groningen',
 'hamburg',
 'innsbruck',
 'kassel',
 'london',
 'losanageles',
 'luzern',
 'madrid',
 'manchester',
 'marseille',
 'melbourne',
 'munich',
 'paris',
 'rotterdam',
 'santander',
 'speyer',
 'strasbourg',
 'stuttgart',
 'taipeh',
 'tokyo',
 'torino',
 'toronto',
 'toulouse',
 'utrecht',
 'vilnius',
 'wolfsburg',
 'zurich']