In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import numpy as np
import pandas as pd
from pathlib import Path

In [3]:
raw_data_folder_path = Path("D:\All Python\All_Big_raw_Data\LOS prediction\Traffic Dataset")
data_UTD19 = pd.read_csv(raw_data_folder_path / "utd19_u.csv", low_memory=False)
data_links = pd.read_csv(raw_data_folder_path / "links.csv")
data_detectors = pd.read_csv(raw_data_folder_path / "detectors.csv")

ParserError: Error tokenizing data. C error: out of memory

In [5]:
data_detectors = pd.read_csv(raw_data_folder_path / "detectors.csv")
data_detectors["citycode"].unique()

array(['augsburg', 'basel', 'bern', 'birmingham', 'bolton', 'bordeaux',
       'bremen', 'cagliari', 'constance', 'darmstadt', 'essen',
       'frankfurt', 'graz', 'groningen', 'hamburg', 'innsbruck', 'kassel',
       'london', 'losanageles', 'luzern', 'madrid', 'melbourne',
       'manchester', 'marseille', 'munich', 'paris', 'rotterdam',
       'santander', 'speyer', 'strasbourg', 'stuttgart', 'taipeh',
       'tokyo', 'torino', 'toronto', 'toulouse', 'utrecht', 'vilnius',
       'wolfsburg', 'zurich'], dtype=object)

In [ ]:
weather = pd.read_csv("my_weather.csv")
weather = weather.iloc[:, [24, 26, 6]]
weather.iloc[:,1] = weather.iloc[:,1]*3600
weather.day = pd.to_datetime(weather.day)
weather

In [ ]:
data_UTD19.describe()

In [7]:
import DataLoader
dataloader = DataLoader.DataLoader_MultiCity(data=data_UTD19, detectors_data=data_detectors, weather_data=weather)  # london, luzern, hamburg

In [8]:
luzern = dataloader.pick_city(["luzern"])

[INFO] ['luzern'] was/were picked successfully.

In [9]:
train_data, val_data, test_data = luzern.fit()

[INFO] data loaded successfully.
[INFO] speed and density produced successfully.
[INFO] Data #transformed# successfully.
[INFO] Data merged with weather successfully.
[INFO] Split successful.
[INFO] Saved successfully.

In [12]:
luzern.data

,day,interval,detid,flow,occ,error,city,speed
0,2015-01-01,180,ig11FD208_D1,60.0,0.005,NaN,luzern,NaN
1,2015-01-01,360,ig11FD208_D1,20.0,0.000,1.0,luzern,NaN
2,2015-01-01,540,ig11FD208_D1,100.0,0.010,NaN,luzern,NaN
3,2015-01-01,720,ig11FD208_D1,200.0,0.025,NaN,luzern,NaN
4,2015-01-01,900,ig11FD208_D1,120.0,0.015,NaN,luzern,NaN
...,...,...,...,...,...,...,...,...
26878292,2015-12-31,85680,ig11FD120_D21,60.0,0.005,NaN,luzern,NaN
26878293,2015-12-31,85860,ig11FD120_D21,160.0,0.025,NaN,luzern,NaN
26878294,2015-12-31,86040,ig11FD120_D21,20.0,0.005,NaN,luzern,NaN
26878295,2015-12-31,86220,ig11FD120_D21,100.0,0.020,NaN,luzern,NaN
26878296,2015-12-31,86400,ig11FD120_D21,40.0,0.005,NaN,luzern,NaN

In [10]:
luzern.merged_data.describe()

,day,interval,flow,occ,density,speed,rainfall
count,1416,1416.000000,1416.000000,1416.000000,1416.000000,1.416000e+03,1416.000000
mean,2015-01-30 00:00:00,43290.000000,417.933616,0.000068,0.000260,inf,0.084184
min,2015-01-01 00:00:00,1890.000000,14.000000,0.000000,0.000000,9.895053e+05,0.000000
25%,2015-01-15 00:00:00,22590.000000,149.000000,0.000019,0.000071,1.581972e+06,0.000000
50%,2015-01-30 00:00:00,43290.000000,407.000000,0.000061,0.000230,1.757365e+06,0.000000
75%,2015-02-14 00:00:00,63990.000000,655.000000,0.000109,0.000414,2.106547e+06,0.001250
max,2015-02-28 00:00:00,84690.000000,990.000000,0.000239,0.000910,inf,4.256000
std,NaN,24928.675642,278.690590,0.000053,0.000201,NaN,0.332211

In [11]:
luzern.data.describe()

           interval          flow           occ      error  speed
count  2.687830e+07  2.687830e+07  2.687830e+07  9065941.0    0.0
mean   4.330024e+04  7.112527e+02  2.862272e+00        1.0    NaN
std    2.494215e+04  6.728367e+03  5.246309e+01        0.0    NaN
min    1.800000e+02  0.000000e+00  0.000000e+00        1.0    NaN
25%    2.178000e+04  4.000000e+01  5.000000e-03        1.0    NaN
50%    4.338000e+04  1.800000e+02  3.500000e-02        1.0    NaN
75%    6.498000e+04  3.800000e+02  8.000000e-02        1.0    NaN
max    8.640000e+04  9.999900e+04  9.999900e+02        1.0    NaN

In [46]:
luzern.train_data, luzern.val_data, luzern.test_data = luzern._split_scale(luzern.merged_data, train_size=0.8,
                                                                           val_size=0.1, test_size=0.1)

In [47]:
luzern.train_data

            day  interval   flow       occ   density         speed  rainfall
767  2015-02-01   84690.0   89.0  0.000009  0.000033  2.678324e+06     0.000
486  2015-01-21   23490.0  666.0  0.000109  0.000414  1.608899e+06     0.000
48   2015-01-03    1890.0  134.0  0.000015  0.000058  2.313748e+06     0.000
155  2015-01-07   41490.0  715.0  0.000116  0.000441  1.623040e+06     0.000
584  2015-01-25   30690.0  148.0  0.000025  0.000096  1.543410e+06     0.495
...         ...       ...    ...       ...       ...           ...       ...
1095 2015-02-15   55890.0  515.0  0.000077  0.000291  1.772666e+06     0.000
1130 2015-02-17    9090.0   63.0  0.000006  0.000023  2.764843e+06     0.000
1294 2015-02-23   81090.0  278.0  0.000038  0.000145  1.913791e+06     0.174
860  2015-02-05   73890.0  394.0  0.000061  0.000230  1.714834e+06     0.000
1126 2015-02-16   81090.0  207.0  0.000028  0.000107  1.929448e+06     0.000

[1132 rows x 7 columns]

In [49]:
luzern._save()

In [15]:
df = luzern.data[["occ", "flow", "speed"]].copy()
df

            occ   flow  speed
0         0.005   60.0    NaN
1         0.000   20.0    NaN
2         0.010  100.0    NaN
3         0.025  200.0    NaN
4         0.015  120.0    NaN
...         ...    ...    ...
26878292  0.005   60.0    NaN
26878293  0.025  160.0    NaN
26878294  0.005   20.0    NaN
26878295  0.020  100.0    NaN
26878296  0.005   40.0    NaN

[26878297 rows x 3 columns]

In [17]:
def calc(ratio):
    if ratio <= 0.6:
        return 'A'
    elif 0.6 < ratio <= 0.7:
        return 'B'
    elif 0.7 <= ratio < 0.8:
        return 'C'
    elif 0.8 <= ratio < 0.9:
        return 'D'
    elif 0.9 <= ratio < 1:
        return 'E'
    else:
        return 'F'
    
df['ratio'] = df['flow']/df['occ']
df['LOS'] = df['ratio'].apply(calc)

In [18]:
df

            occ   flow  speed    ratio LOS
0         0.005   60.0    NaN  12000.0   F
1         0.000   20.0    NaN      inf   F
2         0.010  100.0    NaN  10000.0   F
3         0.025  200.0    NaN   8000.0   F
4         0.015  120.0    NaN   8000.0   F
...         ...    ...    ...      ...  ..
26878292  0.005   60.0    NaN  12000.0   F
26878293  0.025  160.0    NaN   6400.0   F
26878294  0.005   20.0    NaN   4000.0   F
26878295  0.020  100.0    NaN   5000.0   F
26878296  0.005   40.0    NaN   8000.0   F

[26878297 rows x 5 columns]

In [20]:
def calc_LOS(df):
    Length = len(df['flow'])
    df['LOS'] = 0
    for i in tqdm(range(Length)):
        ratio = df['flow'][i]/df['occ'][i]
        if ratio <= 0.6:
            df['LOS'][i] = 'A'
        elif 0.6 < ratio <= 0.7:
            df['LOS'][i] = 'B'
        elif 0.7 <= ratio < 0.8:
            df['LOS'][i] = 'C'
        elif 0.8 <= ratio < 0.9:
            df['LOS'][i] = 'D'
        elif 0.9 <= ratio < 1:
            df['LOS'][i] = 'E'
        else:
            df['LOS'][i] = 'F'
            
calc_LOS(df)

  0%|          | 0/26878297 [00:00<?, ?it/s]

C:\Users\keipj\AppData\Local\Temp\ipykernel_16864\1401304059.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['LOS'][i] = 'F'
C:\Users\keipj\AppData\Local\Temp\ipykernel_16864\1401304059.py:5: RuntimeWarning: divide by zero encountered in scalar divide
  ratio = df['flow'][i]/df['occ'][i]
C:\Users\keipj\AppData\Local\Temp\ipykernel_16864\1401304059.py:5: RuntimeWarning: invalid value encountered in scalar divide
  ratio = df['flow'][i]/df['occ'][i]

KeyboardInterrupt: