In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import numpy as np
import pandas as pd
from pathlib import Path

In [3]:
raw_data_folder_path = Path("D:\All Python\All_Big_raw_Data\LOS prediction\Traffic Dataset")
data_UTD19 = pd.read_csv(raw_data_folder_path / "utd19_u.csv", low_memory=False)
data_links = pd.read_csv(raw_data_folder_path / "links.csv")
data_detectors = pd.read_csv(raw_data_folder_path / "detectors.csv")

In [4]:
weather = pd.read_csv("my_weather.csv")
weather = weather.iloc[:, [24, 26, 6]]
weather.iloc[:,1] = weather.iloc[:,1]*3600
weather.day = pd.to_datetime(weather.day)
weather

            day  interval  rainfall
0    2015-01-01       0.0       0.0
1    2015-01-01    3600.0       0.0
2    2015-01-01    7200.0       0.0
3    2015-01-01   10800.0       0.0
4    2015-01-01   14400.0       0.0
...         ...       ...       ...
1411 2015-02-28   68400.0       0.0
1412 2015-02-28   72000.0       0.0
1413 2015-02-28   75600.0       0.0
1414 2015-02-28   79200.0       0.0
1415 2015-02-28   82800.0       0.0

[1416 rows x 3 columns]

In [ ]:
data_UTD19.describe()

In [6]:
import DataLoader
dataloader = DataLoader.DataLoader_MultiCity(data=data_UTD19, detectors_data=data_detectors, weather_data=weather)  # london, luzern, hamburg

In [7]:
luzern = dataloader.pick_city(["luzern"])

[INFO] ['luzern'] was/were picked successfully.

In [18]:
train_data, val_data, test_data = luzern.fit()

[INFO] data loaded successfully.
[INFO] speed and density produced successfully.
[INFO] Data #transformed# successfully.
[INFO] Data merged with weather successfully.
[INFO] Split successful.
[INFO] Saved successfully.

In [20]:
luzern.merged_data

,flow,occ,date,density,speed,rainfall
0,262.459893,0.045575,2015-01-01 00:00:00,0.173079,1516.417052,0.0
1,304.639569,0.046836,2015-01-01 01:00:00,0.177867,1712.737247,0.0
2,240.033234,0.034573,2015-01-01 02:00:00,0.131296,1828.181000,0.0
3,177.826457,0.023900,2015-01-01 03:00:00,0.090764,1959.219797,0.0
4,155.366376,0.020704,2015-01-01 04:00:00,0.078629,1975.945103,0.0
...,...,...,...,...,...,...
9018,190.475398,0.030405,2015-12-31 20:00:00,0.115469,1649.582355,NaN
9019,167.095349,0.025052,2015-12-31 21:00:00,0.095138,1756.340145,NaN
9020,213.527443,0.033442,2015-12-31 22:00:00,0.127004,1681.266398,NaN
9021,222.821848,0.035799,2015-12-31 23:00:00,0.135954,1638.953123,NaN
9022,153.033708,0.026798,2016-01-01 00:00:00,0.101769,1503.729915,NaN

In [21]:
luzern.merged_data.dropna()

,flow,occ,date,density,speed,rainfall
0,262.459893,0.045575,2015-01-01 00:00:00,0.173079,1516.417052,0.0
1,304.639569,0.046836,2015-01-01 01:00:00,0.177867,1712.737247,0.0
2,240.033234,0.034573,2015-01-01 02:00:00,0.131296,1828.181000,0.0
3,177.826457,0.023900,2015-01-01 03:00:00,0.090764,1959.219797,0.0
4,155.366376,0.020704,2015-01-01 04:00:00,0.078629,1975.945103,0.0
...,...,...,...,...,...,...
1469,324.712114,0.055292,2015-02-28 19:00:00,0.209983,1546.374648,0.0
1470,260.729756,0.040304,2015-02-28 20:00:00,0.153063,1703.415963,0.0
1471,254.693588,0.038647,2015-02-28 21:00:00,0.146768,1735.353098,0.0
1472,301.146202,0.048079,2015-02-28 22:00:00,0.182590,1649.302285,0.0
1473,304.871176,0.048855,2015-02-28 23:00:00,0.185536,1643.187108,0.0