In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import numpy as np
import pandas as pd
from pathlib import Path

In [3]:
raw_data_folder_path = Path("D:\All Python\All_Big_raw_Data\LOS prediction\Traffic Dataset")
data_UTD19 = pd.read_csv(raw_data_folder_path / "utd19_u.csv", low_memory=False)
data_links = pd.read_csv(raw_data_folder_path / "links.csv")
data_detectors = pd.read_csv(raw_data_folder_path / "detectors.csv")

In [4]:
weather = pd.read_csv("D:\All Python\All_Big_raw_Data\LOS prediction\Environment Dataset/all_fields_weather.csv")
# weather = weather.iloc[:, [24, 26, 6]]
weather.iloc[:,1] = weather.iloc[:,1]*3600
weather.day = pd.to_datetime(weather.day)
# weather

In [10]:
weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8760 entries, 0 to 8759
Data columns (total 27 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   name              8760 non-null   object
 1   datetime          8760 non-null   object
 2   temp              8760 non-null   float64
 3   feelslike         8760 non-null   float64
 4   dew               8760 non-null   float64
 5   humidity          8760 non-null   float64
 6   rainfall          8760 non-null   float64
 7   precipprob        8760 non-null   int64
 8   preciptype        1946 non-null   object
 9   snow              8758 non-null   float64
 10  snowdepth         8758 non-null   float64
 11  windgust          8722 non-null   float64
 12  windspeed         8760 non-null   float64
 13  winddir           8760 non-null   float64
 14  sealevelpressure  8758 non-null   float64
 15  cloudcover        8760 non-null   float64
 16  visibility        6835 non-null   float64
 17  solarradiation    8760 non-null   float64
 18  solarenergy       8760 non-null   float64
 19  uvindex           8760 non-null   int64
 20  severerisk        0 non-null      float64
 21  conditions        8760 non-null   object
 22  icon              8760 non-null   object
 23  stations          8760 non-null   object
 24  day               8760 non-null   datetime64[ns]
 25  rain_intensity    8760 non-null   object
 26  interval          8760 non-null   float64
dtypes: datetime64[ns](1), float64(17), int64(2), object(7)
memory usage: 1.8+ MB

In [5]:
import data_preparation
dataloader = data_preparation.DataLoader_MultiCity(data=data_UTD19, detectors_data=data_detectors, weather_data=weather)  # london, luzern, hamburg

In [6]:
luzern = dataloader.pick_city(["luzern"])

[INFO] ['luzern'] was/were picked successfully.

In [7]:
train_data, val_data, test_data = luzern.fit()

[INFO] Take the mean of data in each hour successfully.
[INFO] Speed and density produced successfully and added to the dataframe of transform_hourly_data.
[INFO] Data merged with weather successfully.
[INFO] LOS founded and added to data! we have now columns of 'LOS' and 'LOS_index'.
[INFO] Setting of data finished.
[INFO] add new features!
[INFO] Split successful.
[INFO] Saved successfully.
number of features: 12

In [12]:
luzern.detector

,detid,length,pos,fclass,road,limit,citycode,lanes,linkid,long,lat
12446,ig11FD208_D1,0.258418,0.015821,secondary,Friedentalstrasse,50,luzern,1.0,129.0,8.303541,47.060261

In [8]:
data = luzern.merged_data
data

,flow,occ,date,temp,feelslike,humidity,rainfall,snowdepth,windspeed,sealevelpressure,cloudcover,solarradiation,solarenergy,LOS,LOS_index,month,time_of_raining
0,262.459893,0.045575,2015-01-01 00:00:00,-3.4,-6.0,90.04,0.000,8.76,6.4,1037.1,30.0,0.0,0.0,A,0,1,0
1,304.639569,0.046836,2015-01-01 01:00:00,-3.4,-6.7,90.06,0.000,8.07,8.0,1037.1,90.0,0.0,0.0,A,0,1,0
2,240.033234,0.034573,2015-01-01 02:00:00,-3.3,-3.3,89.57,0.000,7.37,4.7,1037.0,50.0,0.0,0.0,A,0,1,0
3,177.826457,0.023900,2015-01-01 03:00:00,-3.6,-8.1,90.60,0.000,6.68,11.6,1037.3,90.0,0.0,0.0,A,0,1,0
4,155.366376,0.020704,2015-01-01 04:00:00,-3.1,-5.1,91.14,0.000,5.99,5.0,1037.2,90.0,0.0,0.0,A,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9019,190.475398,0.030405,2015-12-31 20:00:00,4.5,4.5,95.51,0.111,0.00,2.2,1027.5,99.3,0.0,0.0,A,0,12,7
9020,167.095349,0.025052,2015-12-31 21:00:00,4.4,4.4,96.75,0.399,0.00,2.1,1027.3,99.5,0.0,0.0,A,0,12,8
9021,213.527443,0.033442,2015-12-31 22:00:00,4.5,4.5,95.49,0.396,0.00,2.3,1027.5,99.3,0.0,0.0,A,0,12,9
9022,222.821848,0.035799,2015-12-31 23:00:00,4.4,4.4,96.75,0.100,0.00,2.3,1027.6,96.7,0.0,0.0,A,0,12,10
9023,153.033708,0.026798,2016-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A,0,1,0

In [9]:
luzern.detectors_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23626 entries, 0 to 23625
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   detid     23626 non-null  object
 1   length    23626 non-null  float64
 2   pos       23581 non-null  float64
 3   fclass    23626 non-null  object
 4   road      22085 non-null  object
 5   limit     16994 non-null  object
 6   citycode  23626 non-null  object
 7   lanes     23622 non-null  float64
 8   linkid    23021 non-null  float64
 9   long      23626 non-null  float64
 10  lat       23626 non-null  float64
dtypes: float64(6), object(5)
memory usage: 2.0+ MB

In [15]:
luzern