In [1]:
%load_ext autoreload
%autoreload 2
import pandas as pd
import numpy as np
from pathlib import Path

In [17]:
seatel_data_path = Path("D:/All Python/All_Big_raw_Data/LOS prediction/Seatel Loop")
temp_data = np.load(seatel_data_path/"Loop_Seattle_2015_A.npy")
data_loop00 = pd.DataFrame(temp_data)
data_loop05 = pd.DataFrame(np.load(seatel_data_path/"Loop_Seattle_2015_reachability_free_flow_5min.npy"))
data_loop10 = pd.DataFrame(np.load(seatel_data_path/"Loop_Seattle_2015_reachability_free_flow_10min.npy"))
data_loop15 = pd.DataFrame(np.load(seatel_data_path/"Loop_Seattle_2015_reachability_free_flow_15min.npy"))
data_loop20 = pd.DataFrame(np.load(seatel_data_path/"Loop_Seattle_2015_reachability_free_flow_20min.npy"))
data_loop10

,0,1,2,3,4,5,6,7,8,9,...,313,314,315,316,317,318,319,320,321,322
0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
318,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
319,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
320,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
321,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
322,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [18]:
data_speed1 = pd.read_pickle(seatel_data_path/"speed_matrix_2015")
data_speed2 = pd.read_pickle(seatel_data_path/"speed_matrix_2015_1mph")
data_speed3 = pd.read_pickle(seatel_data_path/"speed_matrix_2015_5mph")
data_speed1

ID,d005es15036,d005es15125,d005es15214,d005es15280,d005es15315,d005es15348,d005es15410,d005es15465,d005es15531,d005es15569,...,i520es00526,i520es00560,i520es00624,i520es00684,i520es00714,i520es00746,i520es00770,i520es00861,i520es00935,i520es00972
stamp,,,,,,,,,,,,,,,,,,,,,
2015-01-01 00:00:00,61.939138,64.280883,62.077397,60.786423,63.120675,64.448315,63.411123,64.739481,63.009918,65.264902,...,64.092842,60.397897,62.045617,62.099860,63.555292,63.625611,62.118397,68.112571,66.567829,62.032062
2015-01-01 00:05:00,59.232527,65.082450,64.808345,65.853953,59.206229,62.496716,65.992183,64.718051,61.244073,65.608728,...,64.244069,64.091079,65.082815,59.930435,63.817700,47.836660,54.307249,59.022999,58.949034,61.212069
2015-01-01 00:10:00,61.991801,65.309123,64.803916,64.266082,62.239202,63.816610,60.196829,65.447790,63.797764,66.017157,...,59.839932,63.624790,57.179902,62.603473,64.117791,58.099941,58.923199,58.710086,56.671427,57.488732
2015-01-01 00:15:00,62.480655,65.191651,67.206597,63.988427,65.808507,64.757556,62.011448,66.334476,61.702734,65.735430,...,65.230148,66.042141,61.952397,58.193563,55.949144,60.140768,57.117960,64.368119,57.892398,64.087189
2015-01-01 00:20:00,62.490484,65.287669,67.323285,64.707409,65.708663,65.358370,65.091449,63.095048,62.186795,65.097373,...,66.005431,61.455915,62.117347,63.089581,62.961678,62.849955,54.681552,62.795588,62.545365,64.567285
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015-12-31 23:35:00,64.156852,68.129409,70.269650,65.745934,67.223098,62.803580,66.982529,64.760316,62.761144,60.495154,...,70.066408,63.367942,66.094884,68.065638,62.846860,64.501520,68.182001,65.238120,67.215485,65.230670
2015-12-31 23:40:00,64.579427,69.304874,68.958945,67.132535,68.702611,66.103100,64.910054,69.135301,64.736925,69.439853,...,65.273425,61.887890,61.133866,59.637602,60.473464,65.427178,65.831008,60.147810,66.217126,63.406671
2015-12-31 23:45:00,64.493959,67.105173,69.314504,66.137782,67.119293,65.351578,59.830549,72.634073,63.414815,67.153952,...,66.674942,64.887300,66.563737,63.791361,62.694436,64.760695,64.563787,60.436108,66.263599,64.096277
2015-12-31 23:50:00,62.863525,65.896190,70.686958,68.027645,66.603720,66.855332,60.405790,67.186501,66.244453,67.997531,...,65.818916,63.387145,64.005684,60.924641,63.244347,66.907892,64.646375,66.139444,63.483638,61.460639
2015-12-31 23:55:00,63.398268,67.317536,67.546623,62.537412,67.010034,63.026756,61.817752,65.207864,64.188274,66.913553,...,69.463937,61.774482,66.429006,65.039638,59.039406,66.012576,62.289307,64.131104,63.858641,64.382959

In [19]:
data_cabinet = pd.read_csv(seatel_data_path/"Cabinet Location Information.csv")
data_cabinet

        CabName        Lat         Lon  Route  Milepost
0    005es00045  47.609618 -122.331050      5      0.45
1    005es00066  47.612600 -122.330358      5      0.66
2    005es00088  47.615682 -122.329174      5      0.88
3    005es00141  47.622847 -122.328635      5      1.41
4    005es00182  45.642140 -122.661989      5      1.82
..          ...        ...         ...    ...       ...
601  520es01225  47.667266 -122.117566    520     12.25
602  520es01258  47.667560 -122.110771    520     12.58
603  520es01265  47.668054 -122.109465    520     12.65
604  520es01266  47.668141 -122.109293    520     12.66
605  520es01299  47.669843 -122.107158    520     12.99

[606 rows x 5 columns]

In [13]:
data_loop_mp = pd.read_csv(seatel_data_path/"nodes_loop_mp_list.csv")
data_loop_mp

     Unnamed: 0     milepost
0             0  d005es15036
1             1  d005es15125
2             2  d005es15214
3             3  d005es15280
4             4  d005es15315
..          ...          ...
318         318  i520es00746
319         319  i520es00770
320         320  i520es00861
321         321  i520es00935
322         322  i520es00972

[323 rows x 2 columns]

In [15]:
data_loop = pd.read_csv(seatel_data_path/"loop_20150101_20151231.csv")
data_loop

,2015-01-01 00:00:00.000,005es15036,d,61.9391381891382,20,0.019345
0,2015-01-01 00:00:00.000,005es15036,i,63.140194,14,0.012163
1,2015-01-01 00:00:00.000,005es15125,i,62.616388,6,0.502598
2,2015-01-01 00:00:00.000,005es15214,i,62.069070,15,0.008918
3,2015-01-01 00:00:00.000,005es15280,d,60.786423,18,0.017343
4,2015-01-01 00:00:00.000,005es15280,i,61.944099,17,0.019155
...,...,...,...,...,...,...
22211418,2015-12-31 23:55:00.000,520es00770,i,62.289307,9,0.005553
22211419,2015-12-31 23:55:00.000,520es00861,d,58.210393,10,0.005667
22211420,2015-12-31 23:55:00.000,520es00861,i,64.131104,11,0.008863
22211421,2015-12-31 23:55:00.000,520es00972,d,55.596192,10,0.007778
22211422,2015-12-31 23:55:00.000,520es00972,i,64.382959,8,0.004777