In [1]:
%load_ext autoreload
%autoreload 2
import pandas as pd
from pathlib import Path
# required to read HDF5 files
# import tables
# import h5py

In [7]:
from pandas import HDFStore
import numpy as np
store = HDFStore('test.h5')
df = pd.DataFrame(np.random.randn(10, 4), columns=['A', 'B', 'C', 'D'])
store.put('ddf', df, format='table', data_columns=True)
df2 = pd.DataFrame(np.random.randn(5, 4), columns=['A', 'B', 'C', 'D'])
store.append('ddf', df2, format='table', data_columns=True)

In [8]:
store["ddf"]

          A         B         C         D
0 -1.535347 -0.475797  1.509795 -1.375778
1 -1.215763  1.914219  2.170072  0.043756
2 -0.423206  0.763025  0.106765  0.363146
3  1.119149  1.795107 -0.275839 -0.100054
4 -0.980822  0.567099  0.095315  0.927159
5 -2.242500  0.663246  0.352616 -0.014040
6 -1.832606 -1.386009 -0.585659  0.025402
7  0.979477 -1.220910 -2.769529 -1.116045
8  0.557748  1.998443  1.627462 -1.285346
9 -0.836437 -0.389541  0.311329  0.561252
0 -1.454095 -1.247324 -0.000330 -0.417780
1 -0.387779  0.591422 -0.779408 -0.439798
2 -1.622742  0.176360 -0.884548 -0.848895
3 -0.595656 -0.121488  1.707164  1.237998
4 -0.046862  1.343281 -1.045945  0.028972

In [9]:
store.close()

In [27]:
data_folder_path = Path("D:\All Python\All_Big_raw_Data\LOS prediction")
store1 = pd.HDFStore(data_folder_path/"metr-la.h5")
store2 = pd.HDFStore(data_folder_path/"pems-bay.h5")
data_volume = store1["volume"]
data_speed = store2["speed"]
store1.close()
store2.close()

In [21]:
data_volume

,773869,767541,767542,717447,717446,717445,773062,767620,737529,717816,...,772167,769372,774204,769806,717590,717592,717595,772168,718141,769373
2012-03-01 00:00:00,64.375000,67.625000,67.125000,61.500000,66.875000,68.750000,65.125000,67.125000,59.625000,62.750000,...,45.625000,65.500000,64.500000,66.428571,66.875000,59.375000,69.000000,59.250000,69.000000,61.875000
2012-03-01 00:05:00,62.666667,68.555556,65.444444,62.444444,64.444444,68.111111,65.000000,65.000000,57.444444,63.333333,...,50.666667,69.875000,66.666667,58.555556,62.000000,61.111111,64.444444,55.888889,68.444444,62.875000
2012-03-01 00:10:00,64.000000,63.750000,60.000000,59.000000,66.500000,66.250000,64.500000,64.250000,63.875000,65.375000,...,44.125000,69.000000,56.500000,59.250000,68.125000,62.500000,65.625000,61.375000,69.857143,62.000000
2012-03-01 00:15:00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2012-03-01 00:20:00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2012-06-27 23:35:00,65.000000,65.888889,68.555556,61.666667,0.000000,54.555556,62.444444,63.333333,59.222222,65.333333,...,52.888889,69.000000,65.111111,55.666667,66.333333,62.444444,66.777778,64.888889,69.666667,62.333333
2012-06-27 23:40:00,61.375000,65.625000,66.500000,62.750000,0.000000,50.500000,62.000000,67.000000,65.250000,67.125000,...,54.000000,69.250000,60.125000,60.500000,67.250000,59.375000,66.000000,61.250000,69.000000,62.000000
2012-06-27 23:45:00,67.000000,59.666667,69.555556,61.000000,0.000000,44.777778,64.222222,63.777778,59.777778,57.666667,...,51.333333,67.888889,64.333333,57.000000,66.000000,62.666667,68.666667,63.333333,67.444444,61.222222
2012-06-27 23:50:00,66.750000,62.250000,66.000000,59.625000,0.000000,53.000000,64.285714,64.125000,60.875000,66.250000,...,51.125000,69.375000,61.625000,60.500000,65.625000,66.375000,69.500000,63.000000,67.875000,63.500000
2012-06-27 23:55:00,65.111111,66.888889,66.777778,61.222222,0.000000,49.555556,65.777778,65.111111,63.000000,61.666667,...,56.000000,67.444444,64.888889,60.888889,64.222222,66.444444,68.444444,63.555556,68.666667,61.777778

In [19]:
data_speed

sensor_id,400001,400017,400030,400040,400045,400052,400057,400059,400065,400069,...,409525,409526,409528,409529,413026,413845,413877,413878,414284,414694
2017-01-01 00:00:00,71.4,67.8,70.5,67.4,68.8,66.6,66.8,68.0,66.8,69.0,...,68.8,67.9,68.8,68.0,69.2,68.9,70.4,68.8,71.1,68.0
2017-01-01 00:05:00,71.6,67.5,70.6,67.5,68.7,66.6,66.8,67.8,66.5,68.2,...,68.4,67.3,68.4,67.6,70.4,68.8,70.1,68.4,70.8,67.4
2017-01-01 00:10:00,71.6,67.6,70.2,67.4,68.7,66.1,66.8,67.8,66.2,67.8,...,68.4,67.4,68.4,67.5,70.2,68.3,69.8,68.4,70.5,67.9
2017-01-01 00:15:00,71.1,67.5,70.3,68.0,68.5,66.7,66.6,67.7,65.9,67.8,...,68.5,67.5,68.5,67.5,70.4,68.7,70.2,68.4,70.8,67.6
2017-01-01 00:20:00,71.7,67.8,70.2,68.1,68.4,66.9,66.1,67.7,66.1,67.8,...,68.5,67.7,68.5,67.4,69.6,69.1,70.0,68.4,71.0,67.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-06-30 23:35:00,70.9,66.3,68.4,61.0,61.8,66.9,66.0,67.4,65.4,69.3,...,64.6,66.8,64.7,61.1,68.4,61.4,70.5,68.2,71.6,66.2
2017-06-30 23:40:00,71.3,66.6,68.7,60.9,62.0,66.2,66.5,68.2,64.9,69.1,...,65.1,67.3,64.8,60.8,69.8,62.2,69.4,68.6,71.6,68.4
2017-06-30 23:45:00,71.4,66.9,68.1,61.1,62.0,66.7,65.8,68.2,64.2,69.1,...,64.9,66.5,64.6,61.3,69.5,63.8,70.6,68.4,71.6,66.6
2017-06-30 23:50:00,72.2,66.5,68.0,61.1,62.5,65.8,67.1,68.3,64.0,67.3,...,64.1,65.9,64.8,61.3,69.6,64.2,70.2,68.7,71.6,68.4
2017-06-30 23:55:00,71.5,66.2,68.4,61.5,62.8,66.1,67.7,68.4,64.9,68.0,...,64.3,66.5,64.8,60.9,70.9,63.4,70.3,68.7,71.6,68.0

In [29]:
data_folder_path = data_folder_path/"Dataset-selected"
data1 = pd.read_csv(data_folder_path/"METR-LA.csv")
data2 = pd.read_csv(data_folder_path/"PEMS-BAY.csv")

In [30]:
data1

,Unnamed: 0,773869,767541,767542,717447,717446,717445,773062,767620,737529,...,772167,769372,774204,769806,717590,717592,717595,772168,718141,769373
0,2012-03-01 00:00:00,64.375000,67.625000,67.125000,61.500000,66.875000,68.750000,65.125000,67.125000,59.625000,...,45.625000,65.500000,64.500000,66.428571,66.875000,59.375000,69.000000,59.250000,69.000000,61.875000
1,2012-03-01 00:05:00,62.666667,68.555556,65.444444,62.444444,64.444444,68.111111,65.000000,65.000000,57.444444,...,50.666667,69.875000,66.666667,58.555556,62.000000,61.111111,64.444444,55.888889,68.444444,62.875000
2,2012-03-01 00:10:00,64.000000,63.750000,60.000000,59.000000,66.500000,66.250000,64.500000,64.250000,63.875000,...,44.125000,69.000000,56.500000,59.250000,68.125000,62.500000,65.625000,61.375000,69.857143,62.000000
3,2012-03-01 00:15:00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,2012-03-01 00:20:00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34267,2012-06-27 23:35:00,65.000000,65.888889,68.555556,61.666667,0.000000,54.555556,62.444444,63.333333,59.222222,...,52.888889,69.000000,65.111111,55.666667,66.333333,62.444444,66.777778,64.888889,69.666667,62.333333
34268,2012-06-27 23:40:00,61.375000,65.625000,66.500000,62.750000,0.000000,50.500000,62.000000,67.000000,65.250000,...,54.000000,69.250000,60.125000,60.500000,67.250000,59.375000,66.000000,61.250000,69.000000,62.000000
34269,2012-06-27 23:45:00,67.000000,59.666667,69.555556,61.000000,0.000000,44.777778,64.222222,63.777778,59.777778,...,51.333333,67.888889,64.333333,57.000000,66.000000,62.666667,68.666667,63.333333,67.444444,61.222222
34270,2012-06-27 23:50:00,66.750000,62.250000,66.000000,59.625000,0.000000,53.000000,64.285714,64.125000,60.875000,...,51.125000,69.375000,61.625000,60.500000,65.625000,66.375000,69.500000,63.000000,67.875000,63.500000
34271,2012-06-27 23:55:00,65.111111,66.888889,66.777778,61.222222,0.000000,49.555556,65.777778,65.111111,63.000000,...,56.000000,67.444444,64.888889,60.888889,64.222222,66.444444,68.444444,63.555556,68.666667,61.777778

In [31]:
data2

,Unnamed: 0,400001,400017,400030,400040,400045,400052,400057,400059,400065,...,409525,409526,409528,409529,413026,413845,413877,413878,414284,414694
0,2017-01-01 00:00:00,71.4,67.8,70.5,67.4,68.8,66.6,66.8,68.0,66.8,...,68.8,67.9,68.8,68.0,69.2,68.9,70.4,68.8,71.1,68.0
1,2017-01-01 00:05:00,71.6,67.5,70.6,67.5,68.7,66.6,66.8,67.8,66.5,...,68.4,67.3,68.4,67.6,70.4,68.8,70.1,68.4,70.8,67.4
2,2017-01-01 00:10:00,71.6,67.6,70.2,67.4,68.7,66.1,66.8,67.8,66.2,...,68.4,67.4,68.4,67.5,70.2,68.3,69.8,68.4,70.5,67.9
3,2017-01-01 00:15:00,71.1,67.5,70.3,68.0,68.5,66.7,66.6,67.7,65.9,...,68.5,67.5,68.5,67.5,70.4,68.7,70.2,68.4,70.8,67.6
4,2017-01-01 00:20:00,71.7,67.8,70.2,68.1,68.4,66.9,66.1,67.7,66.1,...,68.5,67.7,68.5,67.4,69.6,69.1,70.0,68.4,71.0,67.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52111,2017-06-30 23:35:00,70.9,66.3,68.4,61.0,61.8,66.9,66.0,67.4,65.4,...,64.6,66.8,64.7,61.1,68.4,61.4,70.5,68.2,71.6,66.2
52112,2017-06-30 23:40:00,71.3,66.6,68.7,60.9,62.0,66.2,66.5,68.2,64.9,...,65.1,67.3,64.8,60.8,69.8,62.2,69.4,68.6,71.6,68.4
52113,2017-06-30 23:45:00,71.4,66.9,68.1,61.1,62.0,66.7,65.8,68.2,64.2,...,64.9,66.5,64.6,61.3,69.5,63.8,70.6,68.4,71.6,66.6
52114,2017-06-30 23:50:00,72.2,66.5,68.0,61.1,62.5,65.8,67.1,68.3,64.0,...,64.1,65.9,64.8,61.3,69.6,64.2,70.2,68.7,71.6,68.4
52115,2017-06-30 23:55:00,71.5,66.2,68.4,61.5,62.8,66.1,67.7,68.4,64.9,...,64.3,66.5,64.8,60.9,70.9,63.4,70.3,68.7,71.6,68.0

In [32]:
weather2 = pd.read_csv(data_folder_path/"San francisco-weather-2017.csv")

In [33]:
weather2

,name,datetime,temp,feelslike,dew,humidity,precip,precipprob,preciptype,snow,...,sealevelpressure,cloudcover,visibility,solarradiation,solarenergy,uvindex,severerisk,conditions,icon,stations
0,San francisco,2023-12-14T00:00:00,9.3,9.3,5.1,75.24,0.0,0.0,NaN,0.0,...,1019.9,10.2,16.0,0,0.0,0,10,Clear,clear-night,"KSFO,KHWD,KOAK,C5988"
1,San francisco,2023-12-14T01:00:00,9.5,9.5,5.8,77.63,0.0,0.0,NaN,0.0,...,1019.9,10.2,16.0,0,0.0,0,10,Clear,clear-night,"KSFO,KHWD,KOAK,C5988"
2,San francisco,2023-12-14T02:00:00,8.1,8.1,5.1,81.04,0.0,0.0,NaN,0.0,...,1020.3,10.2,16.0,0,0.0,0,10,Clear,clear-night,"KSFO,KHWD,KOAK,C5988"
3,San francisco,2023-12-14T03:00:00,6.9,6.9,4.2,82.76,0.0,0.0,NaN,0.0,...,1020.4,10.2,16.0,0,0.0,0,10,Clear,clear-night,"KSFO,KHWD,KOAK,C5988"
4,San francisco,2023-12-14T04:00:00,7.8,7.8,4.6,80.03,0.0,0.0,NaN,0.0,...,1020.4,10.2,16.0,0,0.0,0,10,Clear,clear-night,"KSFO,KHWD,KOAK,C5988"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
355,San francisco,2023-12-28T19:00:00,8.3,6.0,5.5,82.52,0.0,25.8,NaN,0.0,...,1013.0,2.4,24.1,13,0.0,0,10,Clear,clear-night,NaN
356,San francisco,2023-12-28T20:00:00,8.2,5.7,5.1,80.81,0.0,25.8,NaN,0.0,...,1013.0,3.3,24.1,9,0.0,0,10,Clear,clear-night,NaN
357,San francisco,2023-12-28T21:00:00,8.0,5.4,4.6,79.11,0.0,25.8,NaN,0.0,...,1014.0,4.1,24.1,4,0.0,0,10,Clear,clear-night,NaN
358,San francisco,2023-12-28T22:00:00,7.9,5.2,4.2,77.45,NaN,25.8,NaN,NaN,...,1014.0,5.0,24.1,0,0.0,0,10,Clear,clear-night,NaN
359,San francisco,2023-12-28T23:00:00,7.9,5.3,3.8,75.30,0.0,22.6,NaN,0.0,...,1014.0,3.3,24.1,0,0.0,0,10,Clear,clear-night,NaN