In [1]:
%load_ext autoreload
%autoreload 2
from numpy import random
import pandas as pd

# Make Data

In [44]:
courses = ["Chemical Engineering", "Civil Engineering", "Electrical Engineering", "Mechanical Engineering",
           "Aerospace Engineering", "Agricultural Engineering", "Biomedical Engineering",
           "Computer Hardware Engineering", "Environmental Engineering", "Health and Safety Engineering",
           "Industrial Engineering", "Marine Engineering", "Materials Engineering", "Nuclear Engineering",
           "Petroleum Engineering", "Mining and Geological Engineering"]
data = pd.DataFrame(index=range(len(courses) * 100), columns=["Id", "Group", "Test Score"])

for i in range(len(courses)):
    for j in range(100):
        data.iloc[100 * i + j, 0] = 100 * i + j + 1
        data.iloc[100 * i + j, 1] = i
        if i < 5:
            data.iloc[100 * i + j, 2] = random.randint(18, 19) + random.rand()
        elif i < 10:
            data.iloc[100 * i + j, 2] = random.randint(12, 18) + random.rand()
        else:
            data.iloc[100 * i + j, 2] = random.randint(7, 19) + random.rand()

data.to_csv("test3.csv")

In [45]:
data

        Id Group Test Score
0        1     0  18.915814
1        2     0  18.261529
2        3     0   18.30378
3        4     0   18.36319
4        5     0  18.383547
...    ...   ...        ...
1595  1596    15   7.714453
1596  1597    15  14.246288
1597  1598    15   16.32499
1598  1599    15  11.351041
1599  1600    15   9.649698

[1600 rows x 3 columns]

# Test Data

In [37]:
data = pd.read_csv("test1.csv")
data["Test Score"].astype(int)
data.iloc[:, 1:]

        Id                              Group  Test Score
0        1               Chemical Engineering   12.112489
1        2               Chemical Engineering   17.432999
2        3               Chemical Engineering   18.514041
3        4               Chemical Engineering   15.935324
4        5               Chemical Engineering   10.957160
...    ...                                ...         ...
1595  1596  Mining and Geological Engineering   14.891710
1596  1597  Mining and Geological Engineering   10.012972
1597  1598  Mining and Geological Engineering    6.669773
1598  1599  Mining and Geological Engineering   11.359953
1599  1600  Mining and Geological Engineering    8.205697

[1600 rows x 3 columns]

In [12]:
data2 = pd.read_csv("test2.csv")
data2["Test Score"].astype(int)
data2.iloc[:, 1:]

        Id  Group  Test Score
0        1      0   18.471700
1        2      0    7.309833
2        3      0   11.368376
3        4      0   17.410944
4        5      0   13.612998
...    ...    ...         ...
1595  1596     15   16.544607
1596  1597     15    6.927980
1597  1598     15   16.117298
1598  1599     15   16.988268
1599  1600     15   15.257647

[1600 rows x 3 columns]

In [9]:
data3 = pd.read_csv("test3.csv")
data3["Test Score"].astype(int)
data3.iloc[:, 1:]

        Id  Group  Test Score
0        1      0   18.915814
1        2      0   18.261529
2        3      0   18.303780
3        4      0   18.363190
4        5      0   18.383547
...    ...    ...         ...
1595  1596     15    7.714453
1596  1597     15   14.246288
1597  1598     15   16.324990
1598  1599     15   11.351041
1599  1600     15    9.649698

[1600 rows x 3 columns]

In [2]:
data4 = pd.read_csv("test4.csv")
data4.index = data4.Student_ID
data4.iloc[:, 1:]

                   Group  Subject  Test_Score
Student_ID
1           Experimental     Math          78
2           Experimental     Math          80
3           Experimental     Math          85
4           Experimental     Math          89
5           Experimental     Math          94
...                  ...      ...         ...
248         Experimental  History          77
249         Experimental  History          89
250         Experimental  History          84
251         Experimental  English          83
252         Experimental  English          87

[252 rows x 3 columns]

In [32]:
data5 = pd.read_csv("test4.csv")
data5.index = data5.Student_ID
data5 = data5.iloc[:, 1:]
# data5.replace("Experimental", 0, inplace=True)
# data5.replace("Control", 1, inplace=True)
# data5.replace("Math", 1, inplace=True)
# data5.replace("Science", 2, inplace=True)
# data5.replace("History", 3, inplace=True)
# data5.replace("English", 4, inplace=True)
data5

                   Group  Subject  Test_Score
Student_ID
1           Experimental     Math          78
2           Experimental     Math          80
3           Experimental     Math          85
4           Experimental     Math          89
5           Experimental     Math          94
...                  ...      ...         ...
248         Experimental  History          77
249         Experimental  History          89
250         Experimental  History          84
251         Experimental  English          83
252         Experimental  English          87

[252 rows x 3 columns]

In [46]:
# d1 = data.Group
# d2 = data["Test Score"]
# c1 = data2.Group
# c2 = data2["Test Score"]
# b1 = data3.Group
# b2 = data3["Test Score"]
# a1, a2, a3 = data4.Group, data4.Subject, data4.Test_Score
# a1, a2, a3 = data5.Group, data5.Subject, data5.Test_Score
a1 = data5[data5.Group == "Experimental"]["Test_Score"][0:80]
a2 = data5[data5.Group == "Control"]["Test_Score"][0:80]

In [48]:
a1

Student_ID
1     78
2     80
3     85
4     89
5     94
      ..
76    85
77    90
78    80
79    94
80    87
Name: Test_Score, Length: 80, dtype: int64

In [5]:
# test normality
from Statistical_Hypothesis_Tests import Normality

norm = Normality()
# norm.shapiro(a3)
# norm.d_agostinos_k2_test(a3)
norm.anderson_darling(a3)

stat=1.405
Probably not Gaussian at the 15.0% level
Probably not Gaussian at the 10.0% level
Probably not Gaussian at the 5.0% level
Probably not Gaussian at the 2.5% level
Probably not Gaussian at the 1.0% level

In [6]:
# test correlation
from Statistical_Hypothesis_Tests import Correlation

corr = Correlation()
# corr.kendall(a2,a3)
# corr.spearman(a2,a3)
# corr.pearson(a1,a3)
# corr.chi_squared(a1,a3) # some problem I think

In [50]:
# test 
from Statistical_Hypothesis_Tests import Parametric_Statistical_Hypothesis

corr = Parametric_Statistical_Hypothesis()
corr.t_test(a1, a2)
corr.paired_t_test(a2, a2)
corr.anova(a1, a2)

stat=8.488, p=0.000
Probably different distributions
stat=nan, p=nan
Probably different distributions
stat=72.045, p=0.000
Probably different distributions

In [49]:
# test 5
from Statistical_Hypothesis_Tests import Nonparametric_Statistical_Hypothesis

corr = Nonparametric_Statistical_Hypothesis()
corr.wilcoxon(a1,a2)
corr.mann_whitney_u(a1,a2)
corr.kruskal_wallis_h(a1,a2)
# corr.friedman(a1,a2)

stat=0.000, p=0.000
Probably different distributions
stat=5250.000, p=0.000
Probably different distributions
stat=49.069, p=0.000
Probably different distributions

ValueError: At least 3 sets of samples must be given for Friedman test, got 2.