In [6]:
s1 = {1,2,3,3}
s2 = set([1, 2, 3, 2])
s3 = set()
s4 = {}
s1, s2, type(s3), type(s4)

({1, 2, 3}, {1, 2, 3}, set, dict)

### Cardinality

In [7]:
s = {1, 2, 3, 4, 5, 6, 7, 8}
size = len(s)
print(size)

8

### Set Membership

In [8]:
s = {1, 2, 3, 4, 5}
print(2 in s)
print(6 in s)

True
False

### Union

In [9]:
s1 = {1, 2, 3}
s2 = {3, 4, 5}
print(s1.union(s2))
print(s1 | s2)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

### Intersection

In [10]:
s1 = {1, 2, 3}
s2 = {3, 4, 5}
print(s1.intersection(s2))
print(s1 & s2)

{3}
{3}

### Difference

In [11]:
s1 = {1, 2, 3}
s2 = {3, 4, 5}
print(s1.difference(s2))
print(s1 - s2)

{1, 2}
{1, 2}

### Symetric Difference

In [12]:
s1 = {1, 2, 3}
s2 = {3, 4, 5}
print(s1.symmetric_difference(s2))
print(s1 ^ s2)

{1, 2, 4, 5}
{1, 2, 4, 5}

### isdisjoint

In [15]:
s1 = {1, 2, 3}
s2 = {3, 4, 5}
print(s1.isdisjoint(s2))

False

### issubset

In [21]:
# proper
s1 = {1, 2, 3}
s2 = {3, 4, 5}
print(s1.issubset(s2))
print(s1 <= s2)
# improper
s1 = {1, 2, 3}
s2 = {1, 2, 3}
print(s1 < s2)

False
False
False

### issuperset

In [24]:
# proper
s1 = {1, 2, 3}
s2 = {3, 4, 5}
print(s1.issuperset(s2))
print(s1 >= s2)

False
False

### Add element to a set
### remover element from a set

In [56]:
s = {1, 2, 3}
s.add(4)
s

{1, 2, 3, 4}

In [57]:
# if no elements, raises key error
s.remove(4)
s

{1, 2, 3}

In [58]:
# if no element, no error
s.discard(4)
s

{1, 2, 3}

In [59]:
# remover the first one and return it. cannot say s.pop(1).
s.pop(), s

(1, {2, 3})

In [61]:
s = {1, 2, 3}
s.clear()
s

set()

### Union

In [66]:
s1 = {1, 2, 3}
s2 = {3, 4, 5}
s3 = {5, 6, 7}
s4 = {7, 8, 9}
s5 = {1, 9, 10}

union = set.union(s1, s2, s3, s4, s5)
union

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [68]:
import functools

union = functools.reduce(set.union, [s1, s2, s3, s4, s5])
union

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

### Intersect

In [70]:
s1 = {1, 2, 3}
s2 = {3, 4, 5}
s3 = {3, 6, 7}
s4 = {3, 8, 9}
s5 = {3, 9, 10}

intersect = set.intersection(s1, s2, s3, s4, s5)
intersect

{3}

In [72]:
import functools

intersect = functools.reduce(set.intersection, [s1, s2, s3, s4, s5])
intersect

{3}

### Check if any elements are common in multipe sets

In [74]:
s1 = {1, 2, 3}
s2 = {3, 4, 5}
s3 = {5, 6, 7}
s4 = {7, 8, 9}
s5 = {9, 10, 11}
has_common_element = any(s1.intersection(s2, s3, s4, s5))
has_common_element

False

### Symetric Difference

In [77]:
import functools

s1 = {1, 2, 3}
s2 = {2, 3, 4}
s3 = {3, 4, 5}

symetric_defference = functools.reduce(set.symmetric_difference, [s1, s2, s3])
symetric_defference

{1, 3, 5}

In [2]:

prime = [2, 3]
i = 4
while True:
    temp = True
    i += 1
    for p in prime:
        if i%p == 0:
            temp = False
    if temp:
        prime.append(i)

    if len(prime) > 10000:
        break

In [1]:
import pandas as pd
data = pd.read_csv(r"C:\utd19_u.csv")

C:\Users\keipj\AppData\Local\Temp\ipykernel_3804\3714279095.py:2: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(r"C:\utd19_u.csv")

In [2]:
data

,day,interval,detid,flow,occ,error,city,speed
0,2017-05-06,0,06.X-2li,12.0,0.000000,1.0,augsburg,NaN
1,2017-05-06,300,06.X-2li,12.0,0.000000,1.0,augsburg,NaN
2,2017-05-06,600,06.X-2li,12.0,0.000000,1.0,augsburg,NaN
3,2017-05-06,900,06.X-2li,16.0,0.000000,1.0,augsburg,NaN
4,2017-05-06,1200,06.X-2li,16.0,0.000000,1.0,augsburg,NaN
...,...,...,...,...,...,...,...,...
134380366,2015-11-01,85500,K8D20,120.0,0.015556,0.0,zurich,NaN
134380367,2015-11-01,85680,K8D20,120.0,0.017778,0.0,zurich,NaN
134380368,2015-11-01,85860,K8D20,120.0,0.014444,0.0,zurich,NaN
134380369,2015-11-01,86040,K8D20,200.0,0.028333,0.0,zurich,NaN
134380370,2015-11-01,86220,K8D20,180.0,0.024444,0.0,zurich,NaN

In [3]:
data.describe()

c:\Python Interpreters\in_Machine_Learning_GPU118\Lib\site-packages\pandas\core\nanops.py:1016: RuntimeWarning: invalid value encountered in subtract
  sqr = _ensure_numeric((avg - values) ** 2)

           interval          flow           occ         error         speed
count  1.343804e+08  1.343804e+08  1.311008e+08  7.518689e+07  4.629955e+06
mean   4.315326e+04  3.722735e+02           inf  6.132982e-01  3.748394e+01
std    2.491211e+04  3.112249e+03           NaN  4.869944e-01  2.063468e+01
min    0.000000e+00 -6.604902e+01 -3.000000e+02  0.000000e+00 -1.000000e+00
25%    2.160000e+04  4.000000e+01  1.000000e-02  0.000000e+00  2.700000e+01
50%    4.320000e+04  1.687312e+02  4.619253e-02  1.000000e+00  3.800000e+01
75%    6.480000e+04  3.970169e+02  1.366667e-01  1.000000e+00  5.000000e+01
max    8.640000e+04  9.024030e+05           inf  1.000000e+00  2.530000e+02