In [1]:
import pandas as pd
import numpy as np

In [23]:
file = pd.read_csv("data/Anaheim/Scaled/random_0/)

In [26]:
file = file.iloc[:,:-1]

In [8]:
file2 = pd.read_csv("raw_data/Anaheim/Anaheim_node.csv")

In [9]:
file2

      Id           X          Y
0      1 -117.880142  33.871156
1      2 -117.815161  33.850173
2      3 -117.831044  33.759772
3      4 -117.867542  33.767953
4      5 -118.010965  33.774600
..   ...         ...        ...
411  412 -118.001856  33.788513
412  413 -118.002092  33.802835
413  414 -118.002033  33.817394
414  415 -118.002270  33.832013
415  416 -118.002206  33.846710

[416 rows x 3 columns]

In [29]:
file.to_csv("raw_data/GoldCoast/GoldCoast_node.csv", index_label=False)

In [30]:
pd.read_csv("raw_data/GoldCoast/GoldCoast_node.csv")

      node           x          y
0        1  153.298331 -28.002117
1        2  153.529365 -28.197058
2        3  153.541420 -28.188706
3        4  153.313156 -27.873778
4        5  153.314272 -27.871566
...    ...         ...        ...
4802  4803  153.398574 -27.975851
4803  4804  153.408059 -27.952699
4804  4805  153.408099 -27.953954
4805  4806  153.406625 -27.957170
4806  4807  153.400017 -27.932003

[4807 rows x 3 columns]